[submodule "Dependencies/Vendor/glad"]
	path = Dependencies/Vendor/glad
	url = https://github.com/Dav1dde/glad
[submodule "Dependencies/Vendor/glfw"]
	path = Dependencies/Vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Dependencies/Vendor/glm"]
	path = Dependencies/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Dependencies/Vendor/imgui"]
	path = Dependencies/Vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Dependencies/Vendor/ImGuizmo"]
	path = Dependencies/Vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
